html, body, main {
  height: 100%;
}

.p-topbar {
  align-items: center;
  background: #111;
  color: #fff;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.p-section-box {
  background: #111;
  display: flex;
  margin-top: 1rem;
  width: 25rem;
}
