body {
  background: rgb(30, 35, 40);
}

main {
  color: #fff;
  display: flex;
  min-height: 100vh;
  padding-top: 3.5rem;
}

main > * {
  flex: 1;
}

.p-topbar {
  align-items: center;
  background: #111;
  color: #fff;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.p-section-box {
  background: #111;
  display: flex;
  margin-top: 1rem;
  min-width: 25rem;
}

.p-discussion-box {
  align-items: center;
  background: #111;
  display: flex;
}

.p-discussion-box:not(:last-child) {
  border-bottom: 1px solid #777;
}

.p-post-box {
  background: #111;
  display: flex;
  margin-top: 1rem;
}

.p-post-box .p-user-info {
  background: #333;
}

.p-positive-rating, .p-negative-rating {
  color: white;
}

.p-positive-rating-active {
  color: lime;
}

.p-positive-rating:hover {
  color: lime;
}

.p-negative-rating-active {
  color: red;
}

.p-negative-rating:hover {
  color: red;
}
