<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>@RenderSection("Title")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/brands.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row h-100">

        <div class="p-topbar">
          <div>
            <a asp-route="Home">Home</a>
            <a class="ms-3" asp-route="UserIndex">Users</a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
            {
              <a class="ms-3" asp-route="BanNew">Ban user</a>
            }
          </div>

          @if(User.Identity.IsAuthenticated)
          {
            <div>
              <a asp-route="PrivateMessageIndex">Messages</a>

              <a class="ms-3" asp-route="UserShow"
                asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value"
              >
                @User.Identity.Name</a>
              <form class="d-inline-block ms-3" asp-route="AuthLogout" method="post">
                <button class="btn btn-secondary">Logout</button>
              </form>
            </div>
          }
          else
          {
            <div>
              <span>
                <a asp-route="UserNew">Sign up</a>
              </span>

              <span class="ms-3">
                <a asp-route="AuthLogin">Login</a>
              </span>
            </div>
          }
        </div>

        <main>
          @RenderBody()
        </main>
      </div>
    </div>
  </body>
</html>
