@model Section

@section Title { Create topic }

<div class="d-flex flex-column align-items-center justify-content-center">
  <h1 class="fs-2">Create topic</h1>

  <form class="w-50 p-4 mt-3" style="background: #15171a; box-shadow: 0 0 3px black"
    asp-route="TopicCreate" asp-route-sectionId="@Model.Id" method="post"
  >
    <div>
      <label>Title</label>
      <input class="text-light form-control" style="background: #111"
        name="title"
      />

      @if (ViewData.ModelState["Title"] != null &&
        ViewData.ModelState["Title"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["Title"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-3">
      <label>Content</label>
      <textarea class="text-light form-control" style="background: #111"
        name="content"
      ></textarea>

      @if (ViewData.ModelState["Content"] != null &&
        ViewData.ModelState["Content"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["Content"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-5">
      <button class="btn btn-dark w-100">Create</button>
    </div>
  </form>
</div>
