@model Topic
@using MessageBoard.Auth

@section Title { @Model.Title }

<div class="p-5">
  <h1>@Model.Title</h1>
  <partial name="_PostBox" model="Model"
    view-data='new ViewDataDictionary(ViewData) { { "index", 1 } }'
  />

  @for (int i = 2; i-2 < Model.Posts.Count; i++)
  {
    var post = Model.Posts[i-2];

    <partial name="_PostBox" model="post"
      view-data='new ViewDataDictionary(ViewData) { { "index", i } }'
    />
  }

  @if (User.Identity.IsAuthenticated && Model.IsOpen)
  {
    <form class="d-flex flex-column align-items-center justify-content mt-5"
      asp-route="TopicPostCreate" asp-route-topicId="@Model.Id"
    >
      <div>
        <textarea class="bg-dark text-light" rows="7" cols="50" style="resize: none"
          name="content"></textarea>
        <div>
          <button class="btn btn-secondary w-100">Post</button>
        </div>

        @if (ViewData.ModelState["Content"] != null &&
        ViewData.ModelState["Content"].Errors.Any())
        {
          @foreach (var error in ViewData.ModelState["Content"].Errors)
          {
            <div class="bg-danger mt-2 p-1">
              @error.ErrorMessage
            </div>
          }
        }
      </div>
    </form>
  }

  @if (!Model.IsOpen)
  {
    <div class="mt-5 text-center">
      This topic is closed and cannot receive any further replies
    </div>
  }
</div>
